<template>
  <b-container v-if="product">
    <b-row>
      <b-col class="text-left">
        <b-button size="sm" class="mb-3" @click="$router.go(-1)">
          <b-icon icon="arrow-left" aria-hidden="true"></b-icon> Back to list
        </b-button>
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="6">
        <img :src="product.image" v-show="imgLoaded" class="w-100" @load="onImgLoad"/>
        <b-skeleton-img v-if="!imgLoaded" class="img-loader"></b-skeleton-img>
      </b-col>
      <b-col class="text-left">
        <h1>{{product.name}}</h1>
        <p class="mb-1">{{product.brandName}}</p>
        <b-badge v-for="category in product.categories" :key="category" class="mr-2 mb-2">
          {{category}}
        </b-badge>
        <h2>{{product.price | price}}</h2>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Product from "@/store/models/product";

export default {
  name: "Details",
  components: {},
  data: () => ({
    item: null,
    imgLoaded: false
  }),
  computed: {
    productId () {
      return this.$route.params.id
    },
    product () {
      return Product.find(this.productId)
    }
  },
  methods: {
    async fetchDetails() {
      await Product.fetchDetails(this.productId)
    },
    onImgLoad () {
      this.imgLoaded = true
    }
  },
  watch: {},
  created() {
    if(this.product) return

    // fetch details only if product is not in local store
    this.fetchDetails()
  }
}
</script>

<style scoped>
.b-skeleton-img {
  padding-top: 123%;
}
</style>