<template>
  <div>
    <product-filter/>

    <product-list v-if="totalCount"
                  :products="products" />

    <b-spinner v-else-if="fetchingProducts"
               class="mt-6"/>

    <product-pagination
        :total-count="totalCount"
    />
  </div>
</template>

<script>
import Product from "@/store/models/product";
import ProductFilter from "@/components/ProductFilter";
import ProductPagination from "@/components/ProductPagination";
import ProductList from "@/components/ProductList";
import variables from "@/utils/variables";

export default {
  name: "Home",
  components: {ProductList, ProductPagination, ProductFilter },
  data: () => ({
    perPage: variables.productsPerPage,
    fetchingProducts: true
  }),
  computed: {
    products () {
      return Product
          .baseQuery(this.brand, this.searchQuery, this.price)
          .orderBy(this.sort ? 'price' : 'name', this.sort)
          .offset(this.perPage * (this.page - 1))
          .limit(this.perPage)
          .get()
    },
    totalCount () {
      return Product
          .baseQuery(this.brand, this.searchQuery, this.price)
          .count()
    },
    brand () {
      return parseInt(this.$route.query?.brandId)
    },
    sort () {
      return this.$route.query?.sort
    },
    searchQuery () {
      return this.$route.query?.searchQuery
    },
    price () {
      return {
        min: this.$route.query?.minPrice,
        max: this.$route.query?.maxPrice
      }
    },
    page () {
      return this.$route.query.page || 1
    }
  },
  methods: {
  },
  watch: {
  },
  async created () {
    // Do not re-fetch products
    if(this.totalCount) return this.fetchingProducts = false

    await Product.fetchAll()
    this.fetchingProducts = false
  }
}
</script>

<style scoped>

</style>