<template>
  <b-form-group
      v-if="priceRanges.min !== priceRanges.max"
      label="Price:"
      label-cols-sm="3"
      label-align-sm="right"
  >
    <veeno
        :key="`${priceRanges.min}-${priceRanges.max}-${value}`"
        :handles="[value && value.min || priceRanges.min, value && value.max || priceRanges.max]"
        :range = "priceRanges"
        pipsy
        connect
        tooltips
        @change="sliderSlide"
    />
  </b-form-group>
</template>

<script>
import 'nouislider/distribute/nouislider.min.css';
import veeno from 'veeno';
import Product from "@/store/models/product";
export default {
name: "ProductPriceSelector",
  components: {veeno},
  data: () => ({
  }),
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    brandId: {
      type: [String, Number],
      default: ''
    },
    searchQuery: {
      type: String,
      default: ''
    }
  },
  computed: {
    priceRanges () {
      const base = Product.baseQuery(this.brandId, this.searchQuery, null)

      return {
        min: base.min('price'),
        max: base.max('price')
      }
    }
  },
  methods: {
    sliderSlide (e) {
      const ranges = e.values
      if(!ranges?.length) return
      const data = {
        min: parseFloat(ranges[0]).toFixed(2),
        max: parseFloat(ranges[1]).toFixed(2)
      }

      this.$emit('input', data)
      this.$emit('change')
    }
  },
  watch: {
  },
  created () {
  }
}
</script>

<style scoped>
  /deep/ .noUi-tooltip {
    display: none;
  }
  /deep/ .noUi-active .noUi-tooltip {
    display: block;
  }
</style>