<template>
  <b-container>
    <b-row no-gutters class="mt-3">
      <b-col v-for="item in products"
             :key="`product-${item.id}`"
             class="my-2"
             sm="6"
             md="4"
             lg="3">
        <product-single :item="item"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ProductSingle from "@/components/ProductSingle";
export default {
  name: "ProductList",
  props: {
    products: {
      type: Array,
      default: () => {}
    }
  },
  components: {ProductSingle},
  data: () => ({}),
  computed: {},
  methods: {},
  watch: {},
  created() {
  }
}
</script>

<style scoped>

</style>