<template>
  <b-container>
    <b-row no-gutters>
      <b-col>
        <b-card bg-variant="light" class="mx-1">
          <b-form-group
              label-cols-lg="3"
              label=""
              label-size="lg"
              label-class="font-weight-bold pt-0"
              class="mb-0"
          >
            <b-form-group
                label="Search:"
                label-cols-sm="3"
                label-align-sm="right"
            >
              <b-form-input v-model="form.searchQuery"
                            debounce="500"
                            @update="removePage"></b-form-input>
            </b-form-group>

            <b-form-group
                label="Brand:"
                label-cols-sm="3"
                label-align-sm="right"
            >
              <b-form-select v-model="form.brandId" :options="brands">
                <template #first>
                  <b-form-select-option value="">Choose a brand</b-form-select-option>
                </template>
              </b-form-select>
            </b-form-group>

            <price-selector v-model="form.price"
                            :search-query="form.searchQuery"
                            :brand-id="form.brandId" />
          </b-form-group>
        </b-card>
      </b-col>
    </b-row>

    <b-row class="mt-2">
      <b-col class="text-left">
        <b-button v-if="form.searchQuery" size="sm" @click="form.searchQuery = ''">
          {{form.searchQuery}} <b-icon icon="x-circle" aria-hidden="true" class="ml-2"></b-icon>
        </b-button>
        <b-button v-if="form.brandId" size="sm" @click="form.brandId = ''" class="ml-2">
          {{selectedBrand}} <b-icon icon="x-circle" aria-hidden="true" class="ml-2"></b-icon>
        </b-button>
        <b-button v-if="form.price" size="sm" @click="form.price = null" class="ml-2">
          {{form.price.min | price}} - {{form.price.max | price}} <b-icon icon="x-circle" aria-hidden="true" class="ml-2"></b-icon>
        </b-button>
      </b-col>
      <b-col cols="3">
        <b-form-select v-model="form.sort" :options="sortOptions"></b-form-select>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Brand from "@/store/models/brand";
import Helpers from "@/utils/helpers";
import PriceSelector from "@/components/ProductPriceSelector";

export default {
name: "ProductFilter",
  components: {PriceSelector },
  data: () => ({
    initialFetch: true,
    form: {
      brandId: '',
      price: null,
      searchQuery: null,
      sort: null
    },
    sortOptions: [
      { value: null, text: 'Select Sort' },
      { value: 'asc', text: 'Lowest Price' },
      { value: 'desc', text: 'Highest Price' },
    ],
  }),
  computed: {
    brands () {
      return  Brand.getBrands(this.form.searchQuery, this.form.price)
    },
    selectedBrand () {
      return this.form.brandId && Brand.find(this.form.brandId).name
    }
  },
  methods: {
    setFilterValues () {
       const query = this.$route.query

      this.form = {
         ...this.form,
        ...query,
        price: query.minPrice ? {
          min: query.minPrice,
          max: query.maxPrice
        } : null}
    },
    removePage () {
      this.$router.push({ query: {...this.$route.query, page: undefined}})
    }
  },
  watch: {
    form: {
      // Update route query to keep it in sync with filter
      handler (form) {
        const updatedForm = {
          ...form,
          price: undefined,
          minPrice: form.price?.min,
          maxPrice: form.price?.max
        }

        const newQuery = Helpers.clean(updatedForm)
        const existingQuery = this.$route.query

        // prevent query update if it's already in sync with filters
        if(Helpers.shallowEqual(newQuery, existingQuery)) return

        // keep page only first time (when user navigates back or page reloads),
        // reset it otherwise - page should be set to 1 when filter is changing
        this.$router.push({ query: {...newQuery, page: this.initialFetch ? this.$route.query.page : undefined}})
        this.initialFetch = false
      },
      deep: true
    }
  },
  created () {
    this.setFilterValues()
  }
}
</script>

<style scoped>

</style>