<template>
  <b-container>
    <b-row v-if="totalCount > perPage">
      <b-col class="mt-3 text-center">
        <b-pagination v-model="pageItem"
                      :total-rows="totalCount"
                      :per-page="perPage"
                      align="center"
                      @page-click="scrollTop"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import variables from "@/utils/variables";

export default {
name: "ProductPagination",
  components: { },
  props: {
    totalCount: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    perPage: variables.productsPerPage,
  }),
  computed: {
    pageItem: {
      get () {
        return this.$route.query?.page || 1
      },
      set (item) {
        this.$router.push({ query: {...this.$route.query, page: item}})
      }
    }
  },
  methods: {
    scrollTop () {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    }
  },
  watch: {
  },
  created () {
  }
}
</script>

<style scoped>

</style>