<template>
  <router-link :to="`/details/${item.id}`" class="px-1 pb-2 d-block">
    <b-card
        tag="article"
        no-header>
      <b-card-img-lazy v-bind="mainProps" :src="item.image" :alt="item.name"/>

      <template #footer>
        <p class="text-muted mb-1">{{item.name}}</p>
        <small class="text-muted">{{item.price | price}}</small>
      </template>
    </b-card>
  </router-link>
</template>

<script>
export default {
name: "ProductSingle",
  components: { },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    mainProps: {
      center: true,
      fluidGrow: true,
      blank: true,
      blankColor: '#bbb',
      width: 227,
      height: 320,
      class: ''
    }
  }),
  computed: {
  },
  methods: {
  },
  watch: {
  },
  created () {
  }
}
</script>

<style scoped>

  .card-body {
    padding-top: 133%;
    position: relative;
  }
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center center;
      height: 100%;
      width: 100%;
    }
</style>